export OS=$(echo $(grep -v _ID /etc/os-release | grep ID=) | cut -d'=' -f 2)

# Overwrite existing commands for better defaults
# enable color support for ls and grep
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    alias dir='dir --color=auto'
    alias vdir='vdir --color=auto'
    alias ldir='vdir'
    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi
alias grepr='grep -R'

# Replace ls with exa
if [ -x /usr/bin/eza ]; then
    export EZA_COLORS="uu=1;31:da=1;35"
    alias   eza='eza --git --git-ignore'
    alias     l='eza'
    alias    ls='eza'
    alias    la='eza -a'
    alias    ll='eza -l --icons'
    alias   lla='eza -la --icons'
    alias  ldir='eza -lD --icons'
    alias tree1='eza -l --tree --icons --level=1'
    alias tree2='eza -l --tree --icons --level=2'
    alias    cL='cl; eza'
    function cd {
        builtin cd "$@" && eza --git --git-ignore
    }
else
    alias    l='ls -C'
    alias   la='ls -A'
    alias   ll='ls -lh'
    alias  lla='ls -Alh'
    alias ldir="ls -lhF --color | grep --color=never '^d'"
    alias   cL='cl; ls'
    function cd {
        builtin cd "$@" && ls -CA
    }
fi

alias rm='rm -vrI' # interactive
alias mv='mv -v' # interactive
alias cat='cat -n' # with line numbers
# [ -x /usr/bin/pygmentize ] && alias cat='pygmentize -g'
[ -x /usr/bin/bat ] && alias cat='bat'
alias mkdir='mkdir -p'
alias dirs='dirs -v'
alias cp='cp -r' # recursive
if [ -x /usr/bin/rsync ]; then
    alias rsync='rsync -rahp --info=progress2'
    #alias cp='rsync'
fi
alias less='less -N -R --use-color -DC+y -Du+b -DP+g -DN+y -DE+r'
alias ip='ip -color=auto' # with colors
alias dmesg='sudo dmesg -H --color=always' # with colors
alias diff='diff --color=auto' # with colors
alias zip='zip -er9' # encryption and recursive


# -------------------------------------------------------- #
# CD GENERIC
alias   c='cl; cd'
alias  ..='cd ..'
alias ...='cd ../..'
alias  .2='cd ../..'
alias  .3='cd ../../..'
alias  .4='cd ../../../..'
alias  .5='cd ../../../../..'

alias   dfs='c ~/dotfiles'
alias   pkg='c ~/dotfiles/pkg'
alias  docs='c ~/Documents'
alias  down='c ~/Downloads'
alias music='c ~/Music'
alias  pics='c ~/Pictures'
alias   img='c ~/Pictures'
alias   vid='c ~/Videos'


# -------------------------------------------------------- #
# System
# Memory
alias   df='df -h'
alias  duh='du -ahd 1'
alias  mem='ncdu --show-graph --show-percent --group-directories-first --show-itemcount'
alias hist='history'
alias   cl='clear' # for terminator, just Ctrl+L
alias   rb='sudo shutdown -r now'
alias  sdn='sudo shutdown now'

# dotfiles and config
alias      ag='alias | grep'
alias  ealias='v ~/.aliases && . ~/.aliases'
alias ebashrc='v ~/.bashrc  && . ~/.bashrc'
alias  ezshrc='v ~/.zshrc   && . ~/.zshrc'
alias  talias='. ~/.aliases'
alias tbashrc='. ~/.bashrc'
alias  tzshrc='. ~/.zshrc'
alias      cf='c ~/dotfiles/config'
alias     cfg='c ~/.config'
alias polybar='polybar --reload duck-mainbar'
# syncing with git
alias dst='dfs && git status'
alias dpl='dfs && git pull origin'
function dps {    # dotfiles push
    cd ~/dotfiles
    gaps "$1"
}

# -------------------------------------------------------- #
# OS SPECIFIC

# Arch Linux
if [ $OS = 'arch' ]; then
    # pacman - Package Manager
    alias  pacs='sudo pacman -S --needed'
    alias pacss='pacman -Ss'
    alias  pacr='sudo pacman -R'
    if [ -x /usr/bin/fzf ]; then
        alias pacs="pacman -Slq | fzf --multi --preview 'pacman -Si {1}' | xargs -ro sudo pacman -S --needed"
        alias pacu="sudo pacman -Sy && pacman -Qqu | fzf --multi --preview 'pacman -Si {1}' | xargs -ro sudo pacman -S --needed"
        alias pacr="pacman -Qq | fzf --multi --preview 'pacman -Qi {1}' | xargs -ro sudo pacman -Rns"
    fi
    alias    pacsy='sudo pacman -Sy'
    alias   pacsyu='sudo pacman -Syu'
    alias     pacq='pacman -Q'
    alias     pacg='pacman -Sg'

    # AURA - AUR Helper
    alias    auraa='sudo aura -Akax'
    alias    aurar='sudo aura -R'
    alias   auraas='aura -As'
    alias   auraau='sudo aura -Aukax'

    # System cleaning
    alias  orphans='pacman -Qtdq | sudo pacman -Rns -'
    alias orphans2='pacman -Qqd | sudo pacman -Rsu -'
    alias  cache_show='find ~/.cache/ -type f -atime +72'
    alias cache_clean='find ~/.cache/ -type f -atime +72 -delete'
fi

# -------------------------------------------------------- #
# Applications specific

# Generic
function o {
    xdg-open "$1"
    [[ "$1" == *".pdf" ]] && exit
}
alias of='o .'
alias run='./run.sh'

# Mount
alias       usbg='echo "usbmount /dev/drive_name, drive_name from lsblk"'
alias   usbmount='udisksctl mount -b' # /dev/drive_name, drive_name from lsblk
alias usbunmount='udisksctl unmount -b' # /dev/drive_name, drive_name from lsblk

# Python
alias    py='python3'
alias   ipy='ipython3'
alias   act='source venv/bin/activate'
alias deact='deactivate'

# Editors
# Vim, Neovim
if [ -x /usr/bin/nvim ]; then
    alias v='nvim'
    alias sv='sudo -E nvim'
else
    alias v='vim'
    alias sv='sudo -E vim'
fi
# VSCode
if [ -x /usr/bin/code ]; then
    alias co='code'
    alias coh='code . && exit'
fi
# Jupyter-notebook
function jn {
    tmux new -d -s jupyter "jupyter-notebook '$1'"
}
function jl {
    tmux new -d -s jupyter "jupyter-lab '$1'"
}

# convert a file to pdf, at least work with pptx
alias pdfConvert='soffice --headless --convert-to pdf'

# Others
alias ra='ranger'
alias clock='tty-clock -sc -C 1 -f %A,%d-%b-%Y'

# Utilities
# alias rwifi='nmcli radio wifi off && nmcli radio wifi on'
alias vnkey='echo "Switch with Alt+Shift+K" && ibus-daemon'
alias weather='curl wttr.in Berlin'
alias speedtest='curl -s https://raw.githubusercontent.com/sivel/speedtest-cli/master/speedtest.py | python -'
alias myip='dig +short txt ch whoami.cloudflare @1.0.0.1'

# Alsa mixer
alias usound='amixer -q -D pulse sset Master 14%+'
alias dsound='amixer -q -D pulse sset Master 14%-'

# Git
alias    g='git'
alias   gi='git init'
alias  gcl='git clone'
alias  gst='git status'
alias   ga='git add'
alias  gaa='git add .'
alias grst='git restore'
alias  grs='git reset'
alias   gc='git commit'
alias  gci='git commit -m'
alias  gac='git commit -am'
alias gcis='git commit -S -m'
alias gacs='git commit -S -am'
alias  gft='git fetch'
alias  gps='git push origin'
alias  gpl='git pull origin --prune'
alias  gbr='git branch -a'
alias  gbd='git branch -D'
alias  gco='git checkout'
alias  gdf='git diff'
function gap {
    gaa; gci "$1"; gps
}
function gaps {
    gaa; gcis "$1"; gps
}

# -------------------------------------------------------- #
# MOC - Music On Console
alias mocp='mocp -O shuffle=yes -O repeat=yes'
