[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Natural-scrolling
Comment=Natural scrolling
Exec=xinput set-prop 'SynPS/2 Synaptics TouchPad' 'libinput Natural Scrolling Enabled' 1
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

